h1 {
    font-size: 35px;
}
.header h1 {
		letter-spacing: 15px;
		word-spacing: 15px;
	}
h3 {
    color: white;
}
body{
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: large;
    line-height: 26px;
    text-align: center;
}
a{
    color: #00ffea;
}
b{
    color: #ff4da0;
}
ol {
    margin-left: 60px;
    margin-right: 10px;
    float: left;
	width: auto;
}
ol ul {
	padding-left: 0px;
	padding-right: 10px;
}
iframe {
    width: 100%;
    frameborder:0;
}
ul.dashed {
	  list-style-type: none;
	}
big {
	font-size: 26px;
	letter-spacing: 4px;
}
#spacing{
    letter-spacing: 15px;
	word-spacing: 15px;
}
